

<nav  class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top" >
    <div class ="collapse navbar-collapse" id="navbarTogglerDem03">
        
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
               
                <a><img style="width: 50px;" src="/assets/bg/login-venine.png" alt=""></a>
                
                <a href="/" style="padding-left: 10px;color: white;text-decoration:none;">ADD PRODUCT REQUEST  ||  </a>
                <a href="/report" style="padding-left: 10px;color: white;text-decoration:none;">REPORT</a>
            </li>
        </ul>
    </div>
</nav>